[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
pandas = "*"
statsmodels = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"

[requires]
python_version = "3.13"
